/* ---- About ---- */

.prof-img {
   max-width: 367px;
}

/* ---- Portfolio ---- */

.portfolio {
   padding-top: 2em;
   padding-bottom: 1em;
}

.portfolio-list {
   margin-top: 2.5em;
}

.portfolio-list li h3{
   margin-top: 1.5em;
   font-size: 1.6em;
   font-weight: 600;
}

/* ---- Skills ---- */
.skills {
   border-top: 2px solid #2980B9;
   padding-top: 1em;
   padding-bottom: 2em;
}

.skills-list li {
   float: left;
   width: 46%;
   margin: 2%;
}

/* ---- Contact ---- */

.contact ul li{
   font-size: 1.3em;
}

.contact li a {
   color: #feeb6e;
   border-bottom: 2px dotted #feeb6e;
}

.contact li a:hover {
   border-bottom: 3px dotted #feeb6e;
}

/* ---- Footer ---- */


/*-----------------------------------------------
   Media Queries
-----------------------------------------------*/
/* ---- >769 ---- */
@media (min-width: 768px) {

   .container {
      width: 95%;
      margin: 0 auto;
   }

   .main-nav li {
      display: inline-block;
      background-color: inherit;
   }

   .about {
      text-align: left;
   }

   .prof-img {
      float: right;
      padding-left: 1.2em;
   }

   .portfolio-list li {
      float: left;
      width: 46%;
      margin: 2%;
      font-size: .85em;
   }

   .portfolio-list li:nth-child(2n+1){
      clear: both;
   }

   .portfolio-list li h3 {
      margin-top: .8em;
   }

   .skills-list li {
      width: 21%;
   }

   .contact{
      margin-top: 3em;
      margin-bottom: 4em;
   }

   .footer-desctop {
      display: block;
   }

   .footer-mobile {
      display: none;
   }

   .footer-desctop li  a{
      margin-right: 10px;
   }

}

/* ---- >1024 ---- */
@media (min-width: 1024px) {

   .main-container {
      margin-top: 1em;
   }

   .container {
      width: 85%;
      max-width: 1150px;
   }

   .name {
      float: left;
   }

   .main-nav{
      float: right;
   }

   .portfolio-list li {
      width: 28.3333%;
   }

   .portfolio-list li:nth-child(3n+1){
      clear: both;
   }

   .portfolio-list li:nth-child(2n+1){
      clear: none;
   }
}
