//Media queries
@mixin mq($break) {
   @if $break == "tablet" {
      @media (min-width: $brk-narrow) {
         @content;
      }
   } @else if $break == "desktop" {
      @media (min-width: $brk-wide) {
         @content;
      }
   } @else {
      @error "Whoops! No value could be retrived for '#{$break}'";
   }
}

//Text mixin
@mixin text($font-size: null, $font-weight: null, $color: null) {
   font-size: $font-size;
   font-weight: $font-weight;
   color: $color;
}
