.about {
   @extend %clearfix;

   @include mq(tablet) {
      text-align: left;
   };
}

.prof-img {
   width: 367px;
   max-width: 100%;

   @include mq(tablet) {
      float: right;
      padding-left: 1.2em;
   };
}
