.contact {
   li {
      font-size: 1.3em;

      a {
         color: #feeb6e;
         border-bottom: 2px dotted #feeb6e;

         &:hover {
            border-bottom: 3px dotted #feeb6e;
         }
      }
   }
}
