.main-container {
   margin-top: 50px;
   margin-bottom: 50px;

   &:last-child {
      margin-bottom: 10px;
   }
}

.main-container,
.main-container h2 {
   color: #fff;
}

.main-container h1,
.main-container h2,
.main-container a {
   color: #feeb6e;
}

.secondary-container {
   background-color: #fff;
}

.container {
   padding-right: 1em;
   padding-left: 1em;
}
