footer {
   @extend %container;
}

.footer-name {
   float: left;
}

.footer-nav {
   margin: 0;
   float: right;
}

footer nav {
   @extend %clearfix;
   border-top: 1px solid $color-border-light;
   padding-top: 1.5em;
}
