footer {
   @extend %container;
}

.footer-name {
   float: left;
}

.footer-nav {
   margin: 0;
   float: right;
}

footer nav {
   @extend %clearfix;
   border-top: 1px solid $color-border-light;
   padding-top: 1.5em;
}

.footer{
   &-desctop {
      display: none;

      @include mq(tablet) {
         display: block;
      };

      li a {
         @include mq(tablet) {
            margin-right: 10px;
         };
      }
   }

   &-mobile {
      @include mq(tablet) {
         display: none;
      };
   }

}
