.name {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;
}

.main-nav li {
   background-color: #18222B;
   margin: .5em .5em;
}

.main-nav a {
   text-transform: uppercase;
   font-weight: 600;
   display: block;
   padding: 13px 15px;
}
