.portfolio {
   @extend %container;
   padding-top: 2em;
   padding-bottom: 1em;
}

.portfolio-list {
   @extend %clearfix;
   margin-top: 2.5em;

   li h3 {
      margin-top: 1.5em;
   }

   @include mq(tablet) {
      li {
         float: left;
         width: 46%;
         margin: 2%;
         @include text(.85em);

         &:nth-child(2n+1) {
            clear: both;
         }

         h3 {
            margin-top: .8em;
         }
      }
   }

   @include mq(desktop) {
      li {
         width: 28.3333%;

         &:nth-child(3n+1){
            clear: both;
         }

         &:nth-child(2n+1){
            clear: none;
         }
      }
   };

}
