.skills {
   border-top: 2px solid #2980B9;
   padding-top: 1em;
   padding-bottom: 2em;
}

.skills-list {
   @extend %clearfix;

   li {
      float: left;
      width: 46%;
      margin: 2%;
   }
}
