.main-container,
.main-container h2 {
   color: $white;
}

.main-container h1,
.main-container h2,
.main-container a {
   color: $color-sec;
}

.secondary-container {
   background-color: $white;
}

.name {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;

   @include mq(desktop) {
      float: left;
   };
}

.main-nav {
   li {
      background-color: $color-body-dark;
      margin: .5em .5em;

      @include mq(tablet){
         display: inline-block;
         background-color: inherit;
      };
   }

   a {
      text-transform: uppercase;
      font-weight: 600;
      display: block;
      padding: 13px 15px;

      &:hover {
         font-weight: 700;
         color: $white;
      }
   }

   @include mq(desktop) {
      float: right;
   };
}

.portfolio-list {
   li h3 {
      font-size: 1.6em;
      font-weight: 600;
   }
}

.contact {
   li {
      font-size: 1.3em;

      a {
         color: $color-link-themed;
         border-bottom: 2px dotted $color-link-themed;

         &:hover {
            border-bottom: 3px dotted $color-link-themed;
         }
      }
   }

   @include mq(tablet) {
      margin-top: 3em;
      margin-bottom: 4em;
   };
}

.footer-name {
   font-size: 1.3em;
}

.footer-nav {
   text-transform: uppercase;
   font-weight: 700;
}
